<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shopping List App</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div id="shopping-list">            
        <div class="header">
            <h1>{{ header.toLocaleUpperCase() }}</h1> 
            <button v-if="state === 'default'" class="btn primary" @click="changeState('edit')">Add item</button>
            <button v-else class="btn btn-cancel"  @click="changeState('default')">Cancel </button>
        </div>   
        <div v-if="state === 'edit'" class="add-item-form">
            <input v-model="newItem" type="text" placeholder="Add an item" v-on:keyup.enter="addItem">
            <button class="btn btn-primary" v-bind:disabled="newItem.length ===0" v-on:click="addItem">Save Item</button>
        </div>
        <a :href="newItem" target="_blank">Dynamic link</a>
        <ul>
            <li v-for="item in reversedItems" :class="{strikeout: item.purchased}" @click="togglePurchased(item)" >{{item.label}}</li>
        </ul>
        <p v-if="items.length === 0">Nice job! you have bought all your items.</p>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
        let shoppingList = new Vue({
            el: "#shopping-list",
            data: {
                state: "default",
                header: 'Vue is ready to party!',
                newItem: '',
                items: [
                    {
                        label: '10 party hats',
                        purchased: false,
                    }
                    ,
                    {
                        label: '2 board games',
                        purchased: false,
                    },            
                    {
                        label: '20 cups',
                        purchased: false,
                    },            
                    {
                        label: '1 make by Gia Hoang',
                        purchased: true,
                    },                    
                ]
            },
            computed: {
                reversedItems() {
                    return this.items.slice(0).reverse();
                }
            },
            methods: {
                addItem: function() {
                    this.items.push({
                        label: this.newItem,
                        purchased: false
                    });
                    this.newItem = '';
                },
                changeState: function(newState) {
                    this.state = newState;
                    this.newItem = '';
                },
                togglePurchased: function(item) {
                    item.purchased = !item.purchased;
                }
            }
        })
    </script>
</body>

</html>